### This code parse crime data for all 50 states from disaster center crime (https://www.disastercenter.com/crime/). The process includes parsing, raw data cleaning, effective data extracting, data cleaning (remove syntax, filter out Nans, data type convert), and merge to master sheet

### The Key for the data set is State (In upper 2 letters state code, e.g. 'AL', 'CA')

### Powered by requestsm BeautifulSoup for parsing

In [1]:
import requests
from bs4 import BeautifulSoup
import string
import pandas as pd
import re

In [2]:
def fetch_and_parse_content(url):
    # fetch content from url
    response = requests.get(url)
    if response.status_code == 200:
        soup = BeautifulSoup(response.text, 'html.parser')
        return soup
    else:
        print("Error: Unable to fetch content")
        return None

def parse_html_to_dataframe(html_content): # used for 1960 - 2009
    # Parse HTML content with BeautifulSoup
    soup = BeautifulSoup(html_content, 'html.parser')
    rows = soup.find_all('tr')

    # Extract data from rows
    data = []
    for row in rows:
        cols = row.find_all('td')
        cols = [clean_value(col.text.strip()) for col in cols]
        #prin(cols)
        data.append(cols)

    # Remove any empty rows
    data = [row for row in data if len(row) > 0]
    #print(data)

    # Column names
    column_names = ['Year', 'Population', 'Index', 'Violent', 'Property', 'Murder', 'Rape', 'Robbery', 'Aggravated Assault', 'Burglary', 'Larceny-Theft', 'Vehicle Theft']

    # Create DataFrame
    try:
        df = pd.DataFrame(data, columns=column_names)
    except:
        print(data)

    # Remove the first row, which contains the column names
    df = df.iloc[1:]

    # Drop rows with missing values
    df = df.dropna()

    return df

def clean_value(value):
    return re.sub(r'\s*,\s*', ',', value)

def parse_html_to_dataframe_v2(html_content): # this is used for 2010 -2019 because of the different format
    # Parse HTML content with BeautifulSoup
    soup = BeautifulSoup(html_content, 'html.parser')
    rows = soup.find_all('tr')

    # Extract data from rows
    """
    data = []
    for row in rows:
        cols = row.find_all(['td', 'small'])
        cols = [clean_value(col.text.strip()) for col in cols]
        # Remove duplicates in each row
        cols = cols[::2]
        data.append(cols)

    # Remove any empty rows
    data = [row for row in data if len(row) > 0]

    # Column names
    column_names = ['Year', 'Population', 'Index', 'Violent', 'Property', 'Murder', 'Rape', 'Robbery', 'Aggravated Assault', 'Burglary', 'Larceny-Theft', 'Vehicle Theft']

    # Create DataFrame
    try:
        df = pd.DataFrame(data, columns=column_names)
    except:
        for d in data:
            print(len(d))
        print(data)
    """

    data = []
    for row in rows:
        cols = row.find_all(['td'])
        cleaned_cols = []
        for col in cols:
            innermost = col
            while innermost.find(['small', 'big']):
                innermost = innermost.find(['small', 'big'])
            cleaned_cols.append(clean_value(innermost.text.strip()))
        data.append(cleaned_cols)

    df = pd.DataFrame(data)

    # Remove the first row, which contains the column names
    df = df.iloc[1:]

    # Drop rows with missing values
    df = df.dropna()

    return df

def extract_effect_parts(html_content):
    all_content = str(html_content)
    effect_parts = all_content.split("""</tr>
              </tbody>
            </table>
            </center>
            </td>
          </tr>
          <tr>
            <td style="text-align: center;">
            <table style="text-align: left; width: 100%;" border="0"
 cellpadding="0" cellspacing="0">
              <tbody>
                <tr>""")[0]
    #print(effect_parts)
    try:
        effect_parts = effect_parts.split("""Number of Crimes""")[1]
    except:
        try: 
            effect_parts = effect_parts.split("""Population and Number""")[1]
        except:
            try:
                effect_parts = effect_parts.split("""and Number of""")[1]
            except:
                try: 
                    effect_parts = effect_parts.split("""Number of""")[1]
                except:
                    print("Error: Unable to parse content")
    effect_parts = effect_parts.split("""Forcible""")
    return effect_parts

def create_crime_dataframe(effect_parts):
    crime_master = pd.DataFrame(columns=['Year', 'Population', 'Index', 'Violent', 'Property', 'Murder', 'Rape', 'Robbery', 'Aggravated Assault', 'Burglary', 'Larceny-Theft', 'Vehicle Theft'])
    
    for i in range(1, 6):
        temp_df = parse_html_to_dataframe(effect_parts[i])
        # Add temp_df to master sheet
        crime_master = pd.concat([crime_master, temp_df])

    # Process 2010-2019 because of different format
    temp_df = parse_html_to_dataframe_v2(effect_parts[6].split('</tbody>')[0])
    temp_df.columns = ['Year', 'Population', 'Index', 'Violent', 'Property', 'Murder', 'Rape', 'Robbery', 'Aggravated Assault', 'Burglary', 'Larceny-Theft', 'Vehicle Theft']
    crime_master = pd.concat([crime_master,temp_df])
   
    return crime_master

def remove_punctuation(s):
    return s.translate(str.maketrans('', '', string.punctuation))

### Test

In [ ]:
vars = pd.DataFrame(columns=['Year', 'State', 'Population', 'Index', 'Violent', 'Property', 'Murder', 'Rape', 'Robbery', 'Aggravated Assault', 'Burglary', 'Larceny-Theft', 'Vehicle Theft'])
nj_url = "https://www.disastercenter.com/crime/njcrimn.htm"
nj_content = fetch_and_parse_content(nj_url)
nj_effect_content = extract_effect_parts(nj_content)
nj_df = create_crime_dataframe(nj_effect_content)
nj_df["State"] = "NJ"

In [ ]:
nj_df

,Year,Population,Index,Violent,Property,Murder,Rape,Robbery,Aggravated Assault,Burglary,Larceny-Theft,Vehicle Theft,State
1,1960,"6,066,782","90,441","6,932","83,509",164,442,"2,591","3,735","25,698","45,903","11,908",NJ
2,1961,"6,244,000","96,057","6,682","89,375",153,458,"2,371","3,700","29,329","47,145","12,901",NJ
3,1962,"6,245,000","108,899","7,874","101,025",187,510,"2,816","4,361","31,868","54,516","14,641",NJ
4,1963,"6,470,000","122,867","8,849","114,018",181,561,"3,367","4,740","35,993","61,199","16,826",NJ
5,1964,"6,682,000","137,594","10,456","127,138",207,609,"3,812","5,828","40,143","68,072","18,923",NJ
6,1965,"6,774,000","138,636","10,422","128,214",219,605,"3,753","5,845","42,113","66,177","19,924",NJ
7,1966,"6,898,000","160,622","11,168","149,454",240,640,"4,397","5,891","49,176","77,374","22,904",NJ
8,1967,"7,003,000","191,720","13,204","178,516",276,677,"5,777","6,474","60,321","88,412","29,783",NJ
9,1968,"7,078,000","230,341","16,711","213,630",358,801,"8,747","6,805","71,621","105,309","36,700",NJ
10,1969,"7,148,000","230,927","17,226","213,701",369,914,"9,657","6,286","68,123","108,336","37,242",NJ
1,1970,"7,168,164","256,287","20,583","235,704",412,927,"12,145","7,099","74,649","121,098","39,957",NJ
2,1971,"7,300,000","289,466","26,441","263,025",426,"1,058","16,062","8,895","88,720","131,959","42,346",NJ
3,1972,"7,367,000","282,894","27,577","255,317",481,"1,243","15,478","10,375","87,981","124,153","43,183",NJ
4,1973,"7,361,000","300,512","28,845","271,667",546,"1,383","15,179","11,737","91,609","137,899","42,159",NJ
5,1974,"7,330,000","349,764","29,568","320,196",497,"1,441","15,879","11,751","104,774","175,349","40,073",NJ
6,1975,"7,316,000","376,357","30,215","346,142",500,"1,385","16,287","12,043","111,288","195,517","39,337",NJ
7,1976,"7,336,000","396,182","29,107","367,075",380,"1,461","14,695","12,571","110,346","219,267","37,462",NJ
8,1977,"7,329,000","374,795","28,732","346,063",408,"1,537","13,223","13,564","105,229","203,345","37,489",NJ
9,1978,"7,327,000","381,528","31,027","350,501",398,"1,727","14,112","14,790","106,700","202,726","41,075",NJ
10,1979,"7,332,000","426,765","36,747","390,018",484,"2,037","18,332","15,894","117,421","221,552","51,045",NJ
1,1980,"7,342,164","469,996","44,373","425,623",504,"2,257","22,299","19,313","137,900","234,160","53,563",NJ
2,1981,"7,401,000","457,367","46,674","410,693",542,"2,374","24,761","18,997","128,274","231,846","50,573",NJ
3,1982,"7,438,000","422,191","45,175","377,016",482,"2,149","22,880","19,664","106,418","223,978","46,620",NJ
4,1983,"7,468,000","385,600","41,304","344,296",399,"2,266","20,086","18,553","92,391","206,778","45,127",NJ
5,1984,"7,515,000","364,890","39,659","325,231",402,"2,446","18,218","18,593","79,871","202,181","43,179",NJ
6,1985,"7,562,000","385,239","41,172","344,067",407,"2,424","19,282","19,059","79,923","213,907","50,237",NJ
7,1986,"7,620,000","399,387","43,623","355,764",399,"2,531","20,473","20,220","81,595","215,073","59,096",NJ
8,1987,"7,672,000","403,662","41,507","362,155",351,"2,559","17,862","20,735","77,392","219,906","64,857",NJ
9,1988,"7,720,000","408,800","44,993","363,807",411,"2,600","18,927","23,055","75,675","219,086","69,046",NJ
10,1989,"7,736,000","407,643","47,111","360,532",394,"2,449","21,139","23,129","75,548","213,878","71,106",NJ
1,1990,"7,730,188","421,080","50,057","371,023",432,"2,307","23,269","24,049","78,628","219,767","72,628",NJ
2,1991,"7,760,000","421,469","49,257","372,212",406,"2,259","22,744","23,848","78,821","221,544","71,847",NJ
3,1992,"7,789,000","394,463","48,745","345,718",397,"2,392","22,216","23,740","75,508","206,686","63,524",NJ
4,1993,"7,879,000","378,257","49,390","328,867",418,"2,215","23,319","23,438","76,738","195,876","56,253",NJ
5,1994,"7,904,000","368,400","48,544","319,856",396,"1,972","22,762","23,414","72,074","195,618","52,164",NJ
6,1995,"7,945,000","373,708","47,652","326,056",409,"1,927","22,486","22,830","69,533","206,339","50,184",NJ
7,1996,"7,988,000","346,116","42,459","303,657",338,"1,976","18,838","21,307","63,259","193,961","46,437",NJ
8,1997,"8,053,000","326,711","39,673","287,038",337,"1,729","16,957","20,650","60,894","184,979","41,165",NJ
9,1998,"8,115,000","296,527","35,717","260,810",322,"1,623","15,109","18,663","54,459","171,166","35,185",NJ
10,1999,"8,143,412","276,873","33,540","243,333",287,"1,409","14,243","17,601","46,998","160,978","35,357",NJ
1,2000,"8,414,350","265,935","32,298","233,637",289,"1,357","13,553","17,099","43,924","155,562","34,151",NJ
2,2001,"8,511,116","273,645","33,094","240,551",336,"1,278","14,110","17,379","46,812","156,031","37,708",NJ
3,2002,"8,575,252","259,967","32,252","227,715",339,"1,365","13,955","16,593","43,899","148,061","35,755",NJ
4,2003,"8,642,412","251,838","31,488","220,350",406,"1,288","13,342","16,452","43,457","142,287","34,606",NJ
5,2004,"8,685,166","242,256","30,943","211,313",392,"1,331","13,076","16,144","41,030","139,977","30,306",NJ
6,2005,"8,703,150","234,310","30,919","203,391",417,"1,208","16,079","16,073","38,980","136,728","27,683",NJ
7,2006,"8,724,560","230,630","30,672","199,958",428,"1,237","13,357","15,650","39,433","135,801","24,724",NJ
8,2007,"8,685,920","220,827","28,601","192,226",380,"1,050","12,549","14,622","37,482","132,791","21,953",NJ
9,2008,"8,663,398","227,478","28,351","199,127",376,"1,122","12,701","14,152","40,402","138,545","20,180",NJ
10,2009,"8,707,739","207,865","27,113","180,752",319,"1,041","11,639","14,114","36,945","128,303","15,504",NJ
1,2010,"8,799,593","210,097","27,055","183,042",371,981,"11,818","13,885","38,732","128,754","15,556",NJ
2,2011,"8,834,773","216,922","27,203","189,719",380,"1,006","12,209","13,608","43,238","129,066","17,415",NJ
3,2012,"8,867,749","207,208","25,727","181,481",388,"1,035","11,385","12,919","42,338","122,662","16,481",NJ
4,2013,"8,911,502","193,382","25,748","167,634",404,861,"12,084","12,071","35,883","118,005","13,746",NJ
5,2014,"8,938,844","178,264","23,319","154,945",352,953,"10,499","11,188","31,707","111,534","11,704",NJ
6,2015,"8,935,421","168,580","22,879","145,701",363,"1,019","9,729","11,414","27,960","105,963","11,778",NJ
7,2016,"8,944,469","160,066","21,914","138,152",372,"1,089","8,984","11,105","25,284","101,540","11,328",NJ
8,2017,"8,888,543","160,690","20,604","140,086",324,"1,505","7,895","10,880","23,891","104,025","12,170",NJ
9,2018,"8,886,025","143,691","18,536","125,155",285,"1,424","6,364","10,463","19,232","94,886","11,037",NJ
10,2019,"8,882,190","137,012","18,375","118,637",262,"1,531","5,730","10,852","16,399","91,902","10,336",NJ

In [ ]:
ny_url = "https://www.disastercenter.com/crime/nycrime.htm"
ny_content = fetch_and_parse_content(ny_url)
ny_effect_content = extract_effect_parts(ny_content)
ny_df = create_crime_dataframe(ny_effect_content)
ny_df["State"] = "NY"

In [ ]:
ny_df

,Year,Population,Index,Violent,Property,Murder,Rape,Robbery,Aggravated Assault,Burglary,Larceny-Theft,Vehicle Theft,State
1,1965,"18,073,000","554,050","58,802","495,248",836,"2,320","28,182","27,464","183,443","253,353","58,452",NY
2,1966,"18,258,000","609,465","62,561","546,904",882,"2,439","30,098","29,142","196,127","286,409","64,368",NY
3,1967,"18,336,000","692,528","75,124","617,404",996,"2,665","40,202","31,261","219,157","314,472","83,775",NY
4,1968,"18,113,000","829,453","98,515","730,938","1,185","2,527","59,857","34,946","250,918","375,143","104,877",NY
5,1969,"18,321,000","837,210","105,870","731,340","1,324","2,902","64,754","36,890","248,477","367,463","115,400",NY
1,1970,"18,190,740","904,314","124,613","779,701","1,444","2,875","81,149","39,145","267,474","386,553","125,674",NY
2,1971,"18,391,000","935,022","145,048","789,974","1,823","3,225","97,682","42,318","273,704","388,612","127,658",NY
3,1972,"18,366,000","804,605","138,542","666,063","2,026","4,199","86,391","45,926","239,886","321,096","105,081",NY
4,1973,"18,265,000","814,349","135,468","678,881","2,040","4,852","80,795","47,781","246,246","320,307","112,328",NY
5,1974,"18,111,000","911,703","145,427","766,276","1,919","5,240","86,814","51,454","271,824","390,357","104,095",NY
6,1975,"18,120,000","1,021,197","155,187","866,010","1,996","5,099","93,499","54,593","301,996","447,740","116,274",NY
7,1976,"18,084,000","1,125,739","156,988","968,751","1,969","4,663","95,718","54,638","318,919","516,328","133,504",NY
8,1977,"17,924,000","1,091,144","149,087","942,057","1,919","5,272","84,703","57,193","309,735","498,653","133,669",NY
9,1978,"17,748,000","1,027,993","149,257","878,736","1,820","5,168","83,785","58,484","292,956","466,516","119,264",NY
10,1979,"17,649,000","1,095,140","161,906","933,234","2,092","5,394","93,471","60,949","308,302","500,589","124,343",NY
1,1980,"17,506,690","1,209,984","180,235","1,029,749","2,228","5,405","112,273","60,329","360,925","535,783","133,041",NY
2,1981,"17,594,000","1,214,935","188,178","1,026,757","2,166","5,479","120,344","60,189","350,422","539,486","136,849",NY
3,1982,"17,659,000","1,142,202","174,833","967,369","2,013","5,159","107,843","59,818","295,245","534,244","137,880",NY
4,1983,"17,667,000","1,042,811","161,489","881,322","1,958","5,296","94,783","59,452","249,115","504,346","127,861",NY
5,1984,"17,735,000","989,126","162,157","826,969","1,786","5,599","89,900","64,872","222,956","488,621","115,392",NY
6,1985,"17,783,000","993,811","165,365","828,446","1,683","5,706","89,706","68,270","219,633","502,276","106,537",NY
7,1986,"17,772,000","1,025,037","175,210","849,827","1,907","5,415","91,360","76,528","217,010","519,570","113,247",NY
8,1987,"17,825,000","1,061,021","179,691","881,330","2,016","5,537","89,721","82,417","216,826","539,175","125,329",NY
9,1988,"17,898,000","1,129,241","196,396","932,845","2,244","5,479","97,434","91,239","218,060","560,887","153,898",NY
10,1989,"17,950,000","1,129,638","203,042","926,596","2,246","5,242","103,983","91,571","211,130","544,459","171,007",NY
1,1990,"17,990,455","1,144,874","212,458","932,416","2,605","5,368","112,380","92,105","208,813","536,012","187,591",NY
2,1991,"18,058,000","1,127,651","210,184","917,467","2,571","5,085","112,342","90,186","204,499","531,681","181,287",NY
3,1992,"18,119,000","1,061,489","203,311","858,178","2,397","5,152","108,154","87,608","193,548","495,708","168,922",NY
4,1993,"18,197,000","1,010,176","195,352","814,824","2,420","5,008","102,122","85,802","181,709","481,166","151,949",NY
5,1994,"18,169,000","921,278","175,433","745,845","2,016","4,700","86,617","82,100","164,650","452,322","128,873",NY
6,1995,"18,136,000","827,025","152,683","674,342","1,550","4,290","72,492","74,351","146,562","425,184","102,596",NY
7,1996,"18,185,000","751,456","132,206","619,250","1,353","4,174","61,822","64,857","129,828","399,522","89,900",NY
8,1997,"18,137,000","709,328","124,890","584,438","1,093","4,075","56,094","63,628","118,306","386,435","79,697",NY
9,1998,"18,175,000","652,202","115,915","536,287",924,"3,843","49,125","62,023","104,821","363,295","68,171",NY
10,1999,"18,196,601","596,743","107,147","489,596",903,"3,563","43,821","58,860","93,217","338,118","58,261",NY
1,2000,"18,976,457","588,189","124,890","483,078",952,"3,530","40,539","60,090","87,946","340,901","54,231",NY
2,2001,"19,084,350","556,025","98,022","458,003",960,"3,546","36,555","56,961","80,400","329,316","48,287",NY
3,2002,"19,134,293","537,121","95,030","442,091",909,"3,885","36,653","53,583","76,700","318,025","47,366",NY
4,2003,"19,212,425","521,565","89,486","432,079",934,"3,775","35,790","48,987","75,453","311,422","45,204",NY
5,2004,"19,280,727","507,648","84,914","422,734",889,"3,608","33,506","46,911","70,696","311,036","41,002",NY
6,2005,"19,315,721","491,829","85,839","405,990",874,"3,636","35,179","46,150","68,034","302,220","35,736",NY
7,2006,"19,306,183","482,270","83,966","396,304",921,"3,169","34,489","45,387","68,565","295,605","32,134",NY
8,2007,"19,297,729","461,731","79,915","381,816",801,"2,926","31,094","45,094","64,857","288,929","28,030",NY
9,2008,"19,467,789","466,131","77,546","388,585",836,"2,799","31,789","42,122","65,537","297,952","25,096",NY
10,2009,"19,541,453","452,647","75,110","377,537",781,"2,582","28,141","43,606","62,769","292,897","21,871",NY
1,2010,"19,395,206","456,202","76,492","379,710",868,"2,797","28,630","44,197","65,839","293,232","20,639",NY
2,2011,"19,501,616","449,300","77,463","371,837",769,"2,751","28,405","45,538","65,227","287,361","19,249",NY
3,2012,"19,576,125","454,803","79,535","375,268",683,"2,837","28,633","47,382","64,389","293,562","17,317",NY
4,2013,"19,695,680","436,166","77,563","358,603",644,"2,575","27,241","46,130","56,444","286,676","15,483",NY
5,2014,"19,748,858","415,085","75,972","339,113",616,"4,316","24,036","45,295","50,738","272,624","15,751",NY
6,2015,"19,747,183","392,351","75,126","317,225",613,"4,414","23,879","44,493","44,117","257,837","15,271",NY
7,2016,"19,745,289","379,466","74,285","305,181",630,"4,569","22,316","45,079","39,821","250,968","14,392",NY
8,2017,"19,590,719","364,136","70,746","293,390",550,"6,297","20,122","43,777","34,928","245,093","13,369",NY
9,2018,"19,530,351","350,055","68,512","281,543",562,"6,577","18,191","43,182","31,158","237,243","13,142",NY
10,2019,"19,453,561","336,919","69,764","267,155",558,"6,583","18,068","44,555","27,600","226,851","12,704",NY

### Define All State Lowercase Abbreviations For Scraping All Data

In [3]:

state_abbs = [
    'al', 'ak', 'az', 'ar', 'ca', 'co', 'ct', 'de', 'fl', 'ga',
    'hi', 'id', 'il', 'in', 'ia', 'kn', 'ky', 'la', 'me', 'md',
    'ma', 'mi', 'mn', 'ms', 'mo', 'mt', 'ne', 'nv', 'nh', 'nj',
    'nm', 'ny', 'nc', 'nd', 'oh', 'ok', 'or', 'pa', 'ri', 'sc',
    'sd', 'tn', 'tx', 'ut', 'vt', 'va', 'wa', 'wv', 'wi', 'wy'
]

### Main part

In [8]:
master = pd.DataFrame(columns=['Year', 'State', 'Population', 'Index', 'Violent', 'Property', 'Murder', 'Rape', 'Robbery', 'Aggravated Assault', 'Burglary', 'Larceny-Theft', 'Vehicle Theft'])
for s in state_abbs:
    print(s)
    if s in ["ms","mo","mt","ne","nj","nm","nc","nd","ok"]:
        url = "https://www.disastercenter.com/crime/{state}crimn.htm".format(state = s)
    else:
        url = "https://www.disastercenter.com/crime/{state}crime.htm".format(state = s)
    content = fetch_and_parse_content(url)
    effect_content = extract_effect_parts(content)
    to_add = create_crime_dataframe(effect_content)
    
    to_add["State"] = s.upper()
    #print(to_add.columns)
    master = pd.concat([master,to_add],ignore_index=True)

for col in master.columns:
    if col == "State":
        continue
    master[col] = master[col].apply(remove_punctuation).astype(int)
master.sample(30)

al
ak
az
ar
ca
co
ct
de
fl
ga
hi
id
il
in
ia
kn
ky
la
me
md
ma
mi
mn
ms
mo
mt
ne
nv
nh
nj
nm
ny
nc
nd
oh
ok
or
pa
ri
sc
sd
tn
tx
ut
vt
va
wa
wv
wi
wy

,Year,State,Population,Index,Violent,Property,Murder,Rape,Robbery,Aggravated Assault,Burglary,Larceny-Theft,Vehicle Theft
267,1986,CA,26981000,1824669,248370,1576299,3038,12119,92512,140701,457698,913004,205597
323,1982,CO,3045000,215584,15354,200230,182,1356,4587,9229,53260,134873,12097
908,1967,KN,2275000,56295,3248,53047,90,243,959,1956,13610,35231,4206
2511,2015,TN,6595056,236863,40816,196047,418,2032,7499,30098,43753,139259,13035
404,2003,CT,3486960,103026,11045,92981,112,698,4212,6023,16043,65043,11370
1,1961,AL,3302000,38105,5564,32541,427,252,630,4255,11205,18801,2535
2286,1970,RI,949723,40542,1944,38598,30,34,744,1136,9677,20763,8158
2193,1997,OR,3243000,203328,14412,188916,95,1306,3811,9200,33507,136129,19280
372,1971,CT,3081000,112338,5968,106370,96,367,2563,2942,32884,56875,16611
2505,2009,TN,6296254,279090,41933,237157,468,2019,9653,29793,63832,158309,15016
1162,1981,MD,4261000,279425,37800,241625,421,1654,18085,17640,70740,152405,18480
81,1981,AK,412000,27171,2537,24634,60,421,472,1584,5479,16310,2845
2272,2016,PA,12784227,263242,40447,222795,661,3233,12326,23027,35520,174228,13047
2407,1971,SD,670000,13797,644,13153,8,66,122,448,3037,9558,558
634,1993,HI,1172000,73566,3061,70505,45,394,1214,1408,13310,51912,5283
940,1999,KN,2654052,117803,10159,107644,160,1065,2047,6887,21874,79722,6048
2020,2004,ND,636308,13051,558,12493,8,177,43,330,2040,9516,937
1328,1967,MN,3582000,92887,4727,88160,58,309,2402,1958,25233,52454,10473
2805,2019,WA,7614893,226601,22377,204224,198,3332,5147,13700,34540,145282,24402
1400,1979,MS,2406000,71233,7786,63447,302,523,1702,5259,23428,36006,4013
2219,1963,PA,11424000,140887,12678,128209,268,930,4771,6709,40089,69915,18205
918,1977,KN,2326000,106154,7206,98948,153,511,2343,4199,29549,63716,5683
1873,1977,NY,17924000,1091144,149087,942057,1919,5272,84703,57193,309735,498653,133669
1170,1989,MD,4694000,261107,40152,220955,544,1783,15589,22236,52735,137043,31177
1331,1970,MN,3805069,121796,5782,116014,75,369,3389,1949,30507,72354,13153
1973,2017,NC,10270800,303526,38043,265483,622,1944,9884,25593,65247,184119,16117
540,2019,FL,21477737,542116,81270,460846,1122,8456,16217,55475,63396,358402,39048
1376,2015,MN,5482435,135303,13319,121984,133,1679,3771,7094,19299,94704,7981
1305,2004,MI,10104206,359542,49737,309805,643,5482,11336,32276,64233,194988,50584
2475,1979,TN,4380000,175786,18135,157651,430,1511,7277,8917,56710,84850,16091

In [170]:
master.to_csv("./crime_master.csv")