### This code parse crime data for all 50 states from disaster center crime (https://www.disastercenter.com/crime/). The process includes parsing, raw data cleaning, effective data extractin, data cleaning (remove syntax, filter out Nans, data type convert), and merge to master sheet

### The Key for the data set is State (In upper 2 letters state code, e.g. 'AL', 'CA')

### Powered by requestsm BeautifulSoup for parsing

In [161]:
import requests
from bs4 import BeautifulSoup
import string
import pandas as pd
import re

In [162]:
def fetch_and_parse_content(url):
    # fetch content from url
    response = requests.get(url)
    if response.status_code == 200:
        soup = BeautifulSoup(response.text, 'html.parser')
        return soup
    else:
        print("Error: Unable to fetch content")
        return None

def parse_html_to_dataframe(html_content): # used for 1960 - 2009
    # Parse HTML content with BeautifulSoup
    soup = BeautifulSoup(html_content, 'html.parser')
    rows = soup.find_all('tr')

    # Extract data from rows
    data = []
    for row in rows:
        cols = row.find_all('td')
        cols = [clean_value(col.text.strip()) for col in cols]
        #prin(cols)
        data.append(cols)

    # Remove any empty rows
    data = [row for row in data if len(row) > 0]
    #print(data)

    # Column names
    column_names = ['Year', 'Population', 'Index', 'Violent', 'Property', 'Murder', 'Rape', 'Robbery', 'Aggravated Assault', 'Burglary', 'Larceny-Theft', 'Vehicle Theft']

    # Create DataFrame
    try:
        df = pd.DataFrame(data, columns=column_names)
    except:
        print(data)

    # Remove the first row, which contains the column names
    df = df.iloc[1:]

    # Drop rows with missing values
    df = df.dropna()

    return df

def clean_value(value):
    return re.sub(r'\s*,\s*', ',', value)

def parse_html_to_dataframe_v2(html_content): # this is used for 2010 -2019 because of the different format
    # Parse HTML content with BeautifulSoup
    soup = BeautifulSoup(html_content, 'html.parser')
    rows = soup.find_all('tr')

    # Extract data from rows
    """
    data = []
    for row in rows:
        cols = row.find_all(['td', 'small'])
        cols = [clean_value(col.text.strip()) for col in cols]
        # Remove duplicates in each row
        cols = cols[::2]
        data.append(cols)

    # Remove any empty rows
    data = [row for row in data if len(row) > 0]

    # Column names
    column_names = ['Year', 'Population', 'Index', 'Violent', 'Property', 'Murder', 'Rape', 'Robbery', 'Aggravated Assault', 'Burglary', 'Larceny-Theft', 'Vehicle Theft']

    # Create DataFrame
    try:
        df = pd.DataFrame(data, columns=column_names)
    except:
        for d in data:
            print(len(d))
        print(data)
    """

    data = []
    for row in rows:
        cols = row.find_all(['td'])
        cleaned_cols = []
        for col in cols:
            innermost = col
            while innermost.find(['small', 'big']):
                innermost = innermost.find(['small', 'big'])
            cleaned_cols.append(clean_value(innermost.text.strip()))
        data.append(cleaned_cols)

    df = pd.DataFrame(data)

    # Remove the first row, which contains the column names
    df = df.iloc[1:]

    # Drop rows with missing values
    df = df.dropna()

    return df

def extract_effect_parts(html_content):
    all_content = str(html_content)
    effect_parts = all_content.split("""</tr>
              </tbody>
            </table>
            </center>
            </td>
          </tr>
          <tr>
            <td style="text-align: center;">
            <table style="text-align: left; width: 100%;" border="0"
 cellpadding="0" cellspacing="0">
              <tbody>
                <tr>""")[0]
    #print(effect_parts)
    try:
        effect_parts = effect_parts.split("""Number of Crimes""")[1]
    except:
        try: 
            effect_parts = effect_parts.split("""Population and Number""")[1]
        except:
            try:
                effect_parts = effect_parts.split("""and Number of""")[1]
            except:
                try: 
                    effect_parts = effect_parts.split("""Number of""")[1]
                except:
                    print("Error: Unable to parse content")
    effect_parts = effect_parts.split("""Forcible""")
    return effect_parts

def create_crime_dataframe(effect_parts):
    crime_master = pd.DataFrame(columns=['Year', 'Population', 'Index', 'Violent', 'Property', 'Murder', 'Rape', 'Robbery', 'Aggravated Assault', 'Burglary', 'Larceny-Theft', 'Vehicle Theft'])
    
    for i in range(1, 6):
        temp_df = parse_html_to_dataframe(effect_parts[i])
        # Add temp_df to master sheet
        crime_master = pd.concat([crime_master, temp_df])

    # Process 2010-2019 because of different format
    temp_df = parse_html_to_dataframe_v2(effect_parts[6].split('</tbody>')[0])
    temp_df.columns = ['Year', 'Population', 'Index', 'Violent', 'Property', 'Murder', 'Rape', 'Robbery', 'Aggravated Assault', 'Burglary', 'Larceny-Theft', 'Vehicle Theft']
    crime_master = pd.concat([crime_master,temp_df])
   
    return crime_master

def remove_punctuation(s):
    return s.translate(str.maketrans('', '', string.punctuation))

### Define All State Lowercase Abbreviations For Scraping All Data

In [142]:

state_abbs = [
    'al', 'ak', 'az', 'ar', 'ca', 'co', 'ct', 'de', 'fl', 'ga',
    'hi', 'id', 'il', 'in', 'ia', 'kn', 'ky', 'la', 'me', 'md',
    'ma', 'mi', 'mn', 'ms', 'mo', 'mt', 'ne', 'nv', 'nh', 'nj',
    'nm', 'ny', 'nc', 'nd', 'oh', 'ok', 'or', 'pa', 'ri', 'sc',
    'sd', 'tn', 'tx', 'ut', 'vt', 'va', 'wa', 'wv', 'wi', 'wy'
]

### Main part

In [169]:
master = pd.DataFrame(columns=['Year', 'State', 'Population', 'Index', 'Violent', 'Property', 'Murder', 'Rape', 'Robbery', 'Aggravated Assault', 'Burglary', 'Larceny-Theft', 'Vehicle Theft'])
for s in state_abbs:
    print(s)
    if s in ["ms","mo","mt","ne","nj","nm","nc","nd","ok"]:
        url = "https://www.disastercenter.com/crime/{state}crimn.htm".format(state = s)
    else:
        url = "https://www.disastercenter.com/crime/{state}crime.htm".format(state = s)
    content = fetch_and_parse_content(url)
    effect_content = extract_effect_parts(content)
    to_add = create_crime_dataframe(effect_content)
    
    to_add["State"] = s.upper()
    #print(to_add.columns)
    master = pd.concat([master,to_add],ignore_index=True)

for col in master.columns:
    if col == "State":
        continue
    master[col] = master[col].apply(remove_punctuation).astype(int)
master.sample(30)

al
ak
az
ar
ca
co
ct
de
fl
ga
hi
id
il
in
ia
kn
ky
la
me
md
ma
mi
mn
ms
mo
mt
ne
nv
nh
nj
nm
ny
nc
nd
oh
ok
or
pa
ri
sc
sd
tn
tx
ut
vt
va
wa
wv
wi
wy

,Year,State,Population,Index,Violent,Property,Murder,Rape,Robbery,Aggravated Assault,Burglary,Larceny-Theft,Vehicle Theft
1978,1962,ND,642000,6127,128,5999,8,27,40,53,1217,4246,536
37,1997,AL,4319000,211188,24379,186809,426,1396,6931,15626,43786,127616,15407
2311,1995,RI,990000,42021,3643,38378,33,267,914,2429,9234,24780,4364
2087,2011,OH,11541007,415790,35218,380572,500,3679,15991,15048,112901,246744,20927
1333,1972,MN,3896000,130674,6798,123876,95,571,3290,2842,36124,74612,13140
499,1978,FL,8594000,607552,65792,541760,949,3960,17701,43182,170061,338299,33400
936,1995,KN,2565000,125350,10792,114558,159,938,2775,6920,27404,78855,8299
2608,1992,UT,1813000,102589,5267,97322,54,823,1014,3376,16045,76964,4313
185,1964,AR,1933000,26274,2641,23633,147,157,565,1772,7135,14622,1876
1277,1976,MI,9104000,589779,58814,530965,1014,3287,30284,24229,151901,323243,55821
138,1977,AZ,2296000,177875,11347,166528,217,786,3173,7171,53866,102571,10091
956,2015,KN,2906721,91542,11483,80059,126,1226,1823,7850,15619,57435,7005
1535,1994,MT,856000,42961,1516,41445,28,233,280,975,6178,32817,2450
2479,1983,TN,4685000,187946,18836,169110,410,1682,8094,8650,56498,97785,14827
1062,2001,LA,4470368,238371,30678,207693,501,1403,7864,20910,46451,139555,21687
2455,2019,SD,884659,19197,3530,15667,17,642,195,2676,2646,11265,1756
1052,1991,LA,4252000,273170,40438,232732,720,1738,11860,26120,60017,148334,24381
1493,2012,MO,6024522,227002,27189,199813,390,1527,5782,19490,42510,140971,16332
1758,1977,NJ,7329000,374795,28732,346063,408,1537,13223,13564,105229,203345,37489
2879,1973,WI,4569000,145151,5273,139878,119,492,2226,2436,32467,96953,10458
2683,2017,VT,624525,10421,1082,9339,17,254,100,711,1945,7169,225
749,1988,IL,11544000,648873,93557,555316,991,4449,36097,52020,130292,355148,69876
566,1985,GA,5976000,305381,30311,275070,620,2587,9812,17292,81070,171950,22050
1710,1989,NH,1107000,39810,1865,37945,36,327,264,1238,8157,27087,2701
2976,2010,WY,564554,14986,1117,13869,8,162,77,870,2151,11126,592
1053,1992,LA,4287000,280647,42209,238438,747,1813,11636,28013,58574,152938,26926
2336,1960,SC,2382594,35743,3424,32319,314,236,478,2396,10081,19636,2602
2814,1968,WV,1805000,21028,1959,19069,99,79,460,1321,6313,11096,1660
1628,1967,NV,444000,19110,1100,18010,48,64,523,465,4734,11159,2117
2236,1980,PA,11824220,441793,43032,398761,809,2722,21039,18462,122800,226496,49465

In [170]:
master.to_csv("./crime_master.csv")